
@{
    ViewBag.Title = "ExpenseREMB_DLV";
}

<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">

<head>
    @*<meta http-equiv=Content-Type content="text/html; charset=windows-1252">*@
    @*<meta name=Generator content="Microsoft Word 15 (filtered)">*@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>r - Income DLV Template.docx</title>
    <link href="~/assets/css/pdf.css" rel="stylesheet" type="text/css" />

    <style>

        /* CSS ADDED BY SUNIL - 20052022 */
        h1, h2, h3, h4, h5, h6, p, a, span, ul, li, b, table, th, td {
            font-family: Arial;
            font-size: 11pt;

            letter-spacing: 1px;
        }

        p {
            font-size: 11pt;

        }

        span, ul, li, b, table, th, td {
            font-size: 11pt;
        }

        span {
            font: 11pt Arial;
        }

        p.a {
            font: 11pt Arial;
        }

        .MsoNormalTable1 td {
            padding-left: 5px;
        }

        p.MsoNormal {
            margin-bottom: 0px;
        }

        p.MsoTitle {
            margin: 0in;
            text-align: center;
            font-size: 11pt;
            font-family: "Arial",sans-serif;
            font-weight: bold;
            color: #000 !important
        }

        p.TableHeading, li.TableHeading, div.TableHeading {
            margin-left: 0;

            text-align: justify;
            font-size: 11pt;
            font-family: "Arial",sans-serif;
            font-weight: bold;
            margin-top: 0pt;
            margin-bottom: 2pt;
            color: #000 !important;
            word-wrap: break-word !important;
        }

        .forAnexureTbl table tr:nth-child(1) td {
            font-weight: bold !important;
            text-align: center !important;
            vertical-align: middle !important;
        }

        .forAnexureTbl table {
            width: 100%;
            margin-bottom: 20px !important;
        }

            .forAnexureTbl table tr td {
                border: 1px solid #000;
                padding-left: 5px;
            }

                .forAnexureTbl table tr td:nth-child(1) {
                    text-align: center;
                }

                .forAnexureTbl table tr td:nth-child(3) {
                    text-align: center;
                }

                .forAnexureTbl table tr td:nth-child(4) {
                    text-align: center;
                }


                .forAnexureTbl table:first-of-type tr:not(:nth-child(1)) td:nth-child(3) {
                    padding-right: 122px;
                }
        .forAnexureTbl table {
            margin: 20px 0;
        }

        td:not(.forSignature), th:not(.forSignature) {
            border: 1px solid #000;
        }

        td, th {
            padding: 5px;
            border: none;
        }

        #serviceRecieverTble td {
            padding: 10px;
        }

        p {
            line-height: 22px;
            font-size: 11pt;
        }

        ol, ul {
            padding-left: 1rem;
        }

        h1, h2, h3, h4, h5, h6 {
            font-size: 14pt !important;
        }

        .borderless td {
            border: none !important;
        }

        .paragraph-Title {
            font-weight: bold;
        }

        .NumberedList {
            margin-bottom: 0 !important;
        }

        .CompanyAddressSmall {
            position: relative;
            top: -6px;
        }

        @*.forAnexureTbl p[align='right'] {
            margin-right: 32px !important;
        }*@

        .scopeTbl table {
            border-width: 0px !important;
        }
        hr {
            display: none;
        }
        .paragraph-Title2 {
            font-weight: bold;
        }
        .forLineSpacing p {
            line-height: 33px;
        }

        .MsoNormal b span {
            font-weight: bold !important;

        }

        #MiscelleneousClauses p span  {
            display: inline;
            line-height: 1.35 !important;
        }
        h3 span {
            font-weight: bold !important;
            font-size: 14pt;
        }
        .MsoNormal u span {
            margin-top: 100px;
            display:inline-block;
        }
        .scopeTbl table td {
            border: 1px solid #000 !important;
            margin-top:15px;
            margin-bottom: 15px;
        }
       .MsoNormal u span {
            text-align: left !important;
            word-spacing: normal !important;
            width: 100%;

        }

        .forLeftSpace {
            margin-left: 23px !important;
        }
    </style>
</head>

<body lang=EN-US style='word-wrap:break-word'>
    <div class="right_col">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">

                    <div class=WordSection1 id=contentToConvert>
                        <div style="border: 0px solid #000;padding-top:31pt;padding-left: 20px;
          width: 95%; margin: 0 auto; ;min-height:0pt; max-height:100000pt">
                            <p class=MsoTitle style="width:97.5%;margin:0 auto;"><span style="font-weight: bold;">
    REIMBURSEMENT AGREEMENT11

</span></p>

                            <p class=MsoTitle>&nbsp;</p>

                            <table id="serviceRecieverTble" class=MsoNormalTable1 border=1 cellspacing=0 cellpadding=0 width=660
                                   style='width:97.5%;margin-left:0px!important;border-collapse:collapse;border:none;margin-bottom:0px!important'>
                                <tr style='height:14.0pt'>
                                    <td width=198 style='width:148.5pt;border:solid windowtext 1.0pt; height:14.0pt'>
                                        <p class=TableHeading>Reimbursement to</p>
                                    </td>
                                    <td width=90 style='width:93.5pt;border:solid windowtext 1.0pt;border-left:
    none;height:14.0pt'>
                                        <p class=MsoNormal>@Model.Provider</p>
                                    </td>
                                    <td width=144 style='width:1.5in;border:solid windowtext 1.0pt;border-left:
    none;height:14.0pt'>
                                        <p class=TableHeading>
                                            Reimbursement by
                                        </p>
                                    </td>
                                    <td width=228 colspan=2 style='width:171.0pt;border:solid windowtext 1.0pt;
    border-left:none;height:14.0pt'>
                                        <p class=MsoNormal><span> SAVWIPL</span></p>
                                    </td>
                                </tr>
                                <tr style='height:13.95pt'>
                                    <td width=198 style='width:148.5pt;border:solid windowtext 1.0pt;border-top:
    none;height:13.95pt'>
                                        <p class=TableHeading>Contract No</p>
                                    </td>
                                    <td width=90 style='width:93.5pt;border-top:none;border-left:none;border-bottom:
    solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    height:13.95pt;'>
                                        <p class=MsoNormal><span style="font-weight: bold;">@Model.DLVID</span></p>
                                    </td>
                                    <td width=144 rowspan=2 style='width:1.5in;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    height:13.95pt'>
                                        <p class=TableHeading>Validity</p>
                                    </td>
                                    <td width=54 style='width:40.5pt;border-top:none;border-left:none;border-bottom:
    solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    height:13.95pt'>
                                        <p class=MsoNormal>From</p>
                                    </td>
                                    <td width=174 style='width:130.5pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    height:13.95pt'>
                                        <p class=MsoNormal>@Model.DLVValidFrom.ToLocalTime().ToString("dd-MMM-yyyy")</p>
                                    </td>
                                </tr>
                                <tr style='height:12.5pt'>
                                    <td width=198 style='width:148.5pt;border:solid windowtext 1.0pt;border-top:
    none;height:12.5pt'>
                                        <p class=TableHeading>Department</p>
                                    </td>
                                    <td width=90 valign=top style='width:93.5pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    height:12.5pt'>
                                        <p class=MsoNormal><span>@Model.ol_Department</span></p>
                                    </td>
                                    <td width=54 valign=top style='width:40.5pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    height:12.5pt'>
                                        <p class=MsoNormal>Until</p>
                                    </td>
                                    <td width=174 valign=top style='width:130.5pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    height:12.5pt'>
                                        @if (Model.isPerpetualDLV == "No")
                                        {
                                            <p class=MsoNormal>@Model.DLVValidTill.ToLocalTime().ToString("dd-MMM-yyyy")</p>
                                        }
                                        else if (Model.isPerpetualDLV == "Yes")
                                        {
                                            <p class=MsoNormal>Perpetual</p>
                                        }
                                        else if (Model.isPerpetualDLV == "Completion of obligation")
                                        {
                                            <p class=MsoNormal>Completion of obligation</p>
                                        }


                                    </td>
                                </tr>
                                <tr style='height:12.5pt'>
                                    <td width=198 style='width:148.5pt;border:solid windowtext 1.0pt;border-top:
    none;height:12.5pt'>
                                        <p class=TableHeading>Cost Center</p>
                                    </td>
                                    <td width=90 style='width:93.5pt;border-top:none;border-left:none;border-bottom:
    solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    height:12.5pt'>
                                        <p class=MsoNormal><span>@Model.ReceiverCostCenter</span></p>
                                    </td>
                                    <td width=144 style='width:1.5in;border-top:none;border-left:none;border-bottom:
    solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    height:12.5pt'>
                                        <p class=TableHeading>Prepared by</p>
                                    </td>
                                    <td width=228 colspan=2 style='width:171.0pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    height:12.5pt'>
                                        <p class=MsoNormal>@Model.DLVCreator.Title</p>
                                    </td>
                                </tr>
                                <tr style='height:12.5pt'>
                                    <td width=198 style='width:148.5pt;border:solid windowtext 1.0pt;border-top:
    none;height:12.5pt'>
                                        <p class=TableHeading>Subject / Title:</p>
                                    </td>
                                    <td width=462 colspan=4 style='width:346.5pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;height:12.5pt'>
                                        <p class=MsoNormal style="font-weight: bold !important;">@Model.DLVTitle</p>
                                    </td>
                                </tr>
                            </table>

                            <p class=MsoNormal>&nbsp;</p>

                            <p class=MsoNormal style='text-align:justify; width:97.5%;
            margin-left: 0px;'>
                                This
                                Reimbursement Agreement (the &quot;Agreement&quot;) is entered into this <span style='color:black'>______________</span>
                                by and between <span style="font-weight: bold;">SKODA AUTO Volkswagen India Private Limited </span>(formerly
                                known as Volkswagen India Private Limited)<span style="font-weight: bold;">, </span>a Company incorporated under the Companies Act, 1956 and having its registered office at E1, MIDC Industrial Area, Phase III, Village Nigoje, Mhalunge Kharabwadi, Chakan, Tal Khed, Pune, Maharashtra - 410501  having CIN No U70102PN2007FTC133117 (herein after referred to as <span style="font-weight: bold;">"SAVWIPL"</span> or &quot;<span style="font-weight: bold;">Service Receiver</span> &quot; or &quot;<span style="font-weight: bold;">Customer</span>&quot;<span class=MsoCommentReference><span> </span></span>), which
                                term shall unless the context otherwise requires mean and include its
                                successors and assigns of One Part
                            </p>

                            <p class=MsoNormal style='text-align:justify;width: 495pt;
            margin-left: 0px;padding:10px 0px'>and </p>

                            <p class=MsoNormal style='text-align:justify;width: 97.5%;
            margin-left: 0px;'>
                                <b>
                                    <span><span style='font-weight:bold'>@Model.Provider</span></span>
                                </b>,
                                a Company incorporated under the <span>@Model.ProviderIncorporated</span> and having its place of business at <span>@Model.ProviderCompleteAddress</span>&nbsp;(hereinafter referred to as <b><span style='font-family:"Arial",sans-serif; font-weight: bold;'>"@Model.ProviderShortName"</span> or <span style="font-weight: bold;">"Service Provider"</span> or <span style="font-weight: bold;">"Provider"</span> </b>) which term shall unless the context otherwise requires mean and include its successors and assigns of the Other Part
                            </p>
                            <p class=MsoNormal style='text-align:justify;width:98%; margin-left: 0px;'>
                                SAVWIPL and <span>@Model.ProviderShortName</span> are hereinafter collectively referred to as the <span style="font-weight: bold;">&nbsp;Parties </span> and individually as <span style="font-weight: bold;">Party</span>.
                            </p>

                            <p class=MsoNormal style='text-align:justify;width: 93%;
          margin-top: 13px ;margin-left:0px;'>
                                <span style="font-weight: bold;">
                                    RECITALS
                                </span>
                            </p>

                            <p class=MsoNormal style='text-align:justify;width: 100%;
            margin-left: 0px;'>
                                WHEREAS, SAVWIPL is engaged in Manufacture, Sales and Aftersales business of Volkswagen Group Cars in India.
                            </p>
                            <p></p>
                            <p class=MsoNormal style='text-align:justify;width: 100%;
            margin-left: 0px;;padding-top:5px'>
                                WHEREAS,
                                <span>@Model.DLVItemDescription</span>
                            </p>
                            <p></p>
                            <p class=MsoNormal style='text-align: justify; width: 97.5%; margin-left: 0px;; padding-top: 5px'>
                                WHEREAS, <span>@Model.ProviderBusinessActivities</span>
                            </p>
                            <p></p>
                            <!--<p class=MsoNormal style='text-align:left;width: 495pt;-->
                            <!--margin: 0 auto;'>Accordingly,-->
                            <!--SAVWIPL has been approached by <span >@Model.ProviderShortName</span>-->
                            <!--and has agreed to accept such services via this Agreement.</p>-->

                            <p class=MsoNormal style='text-align: justify; width: 100%; padding-bottom: 10px; margin-top: 15px; margin-left: 0px;'>
                                NOW,
                                THEREFORE, the parties hereby agree as follows:
                            </p>

                            <p class=MsoListParagraph style='text-align: justify; width: 100%; margin: 20px auto; text-indent: -.25in; padding-bottom: 4px; margin-left: 24px;'>
                                <b>
                                    1.<span class="paragraph-Title">&nbsp;Scope of work (services):</span>
                                </b>
                            </p>
                            <p class=MsoNormal style='text-align: justify; width: 495pt; margin: 0 auto; font-family: "Arial",sans-serif; margin-left: 1.5rem;'>
                                <span>
                                    The  Service Provider hereby agrees to provide following services to Service
                                    Receiver:
                                </span>
                            </p>

                            <div class=wrappper-table style='text-align: justify; width: 93%; font-family: "Arial",sans-serif; margin-left: 1.6rem;'>
                                <div class="scopeTbl" id="ScopeText">@Html.Raw(Model.ScopeText)</div>
                            </div>

                            <!--<p class=MsoNormal style='margin-bottom:12.0pt;margin-left:.25in;text-align:-->
                            <!--justify;width: 495pt; margin: 0 auto;'>Further details of the services are-->
                            <!--provided in Annexure A of this agreement <span style='color:red'>(delete if not-->
                            <!--applicable)</span></p>-->

                            <p class=MsoNormal style='margin-bottom:12.0pt;margin-left:.25in;text-align:
  justify;width: 93%; padding-bottom:19px;'>
                                Any activity other than those mentioned
                                in the above scope shall entail additional service fees to be mutually agreed
                                by parties in writing.
                            </p>

                            <p class='MsoListParagraph awg-line'><b>2.<span class="paragraph-Title">&nbsp;Reimbursement of Expenses</span></b></p>

                            <p class='paragraph-style' style="margin-left: 23px;">
                                In lieu of payments incurred by
                                SAVWIPL per Clause 1, <span>@Model.ProviderShortName</span> will reimburse to SAVWIPL an amount of
                                <b>@Model.GSTCurrency @Model.TotalPriceAgreed</b>. The total reimbursement amount for the entire term of this Agreement
                                is calculated in the attached <b>Annexure A</b> which shall be paid by <span>@Model.ProviderShortName</span> to SAVWIPL as reimbursement cost.
                                Any expenses incurred futher for this same activity in 2021 shall be similarly passed on to
                                <span>@Model.ProviderShortName</span> via subsequent Annexures to this DLV.
                            </p>
                            </p>
                            <div class="paragraph-style forLeftSpace">@Html.Raw(Model.AdditionalConsideration)</div>
                            <p class='MsoListParagraph  awg-line'>
                                <b>3.<span class="paragraph-Title">&nbsp;Term</span></b>
                            </p>
                            @if (Model.isPerpetualDLV == "No")
                            {
                                <p class=paragraph-style style="margin-left: 23px;">
                                    This Agreement shall be effective from @Model.DLVValidFrom.ToLocalTime().ToString("dd-MMM-yyyy")
                                    and shall be valid up to  @Model.DLVValidTill.ToLocalTime().ToString("dd-MMM-yyyy") unless terminated by either of the party by
                                    giving

                                    @if (Model.NoticePeriod == "1 Month" || Model.NoticePeriod == "3 Months")
                                    {
                                        <span>@Model.NoticePeriod</span>
                                    }
                                    else if (Model.NoticePeriod == "Others")
                                    {
                                        <span>@Model.OtherNoticePeriod</span>
                                    }
                                    advance written notice to the other.
                                </p>
                            }
                            else if (Model.isPerpetualDLV == "Yes")
                            {
                                <p class=paragraph-style style="margin-left: 23px;">
                                    This Agreement shall be effective from @Model.DLVValidFrom.ToLocalTime().ToString("dd-MMM-yyyy")
                                    and shall be valid perpetually unless terminated by either of the party by
                                    giving

                                    @if (Model.NoticePeriod == "1 Month" || Model.NoticePeriod == "3 Months")
                                    {
                                        <span>@Model.NoticePeriod</span>
                                    }
                                    else if (Model.NoticePeriod == "Others")
                                    {
                                        <span>@Model.OtherNoticePeriod</span>
                                    }
                                    advance written notice to the other.
                                </p>
                            }
                            else if (Model.isPerpetualDLV == "Completion of obligation")
                            {
                                <p class=paragraph-style style="margin-left: 23px;">
                                    This Agreement shall be effective from @Model.DLVValidFrom.ToLocalTime().ToString("dd-MMM-yyyy")
                                    and shall be valid till completion of obligation unless terminated by either of the party by giving
                                    giving

                                    @if (Model.NoticePeriod == "1 Month" || Model.NoticePeriod == "3 Months")
                                    {
                                        <span>@Model.NoticePeriod</span>
                                    }
                                    else if (Model.NoticePeriod == "Others")
                                    {
                                        <span>@Model.OtherNoticePeriod</span>
                                    }
                                    advance written notice to the other.
                                </p>
                            }


                            <p class='MsoListParagraph  awg-line'><b>4.<span class="paragraph-Title">&nbsp; Liability</span></b></p>

                            <p class='paragraph-style' style="margin-left: 23px;">
                                The Service Provider shall only be liable in cases of intent and gross negligence, provided that
                                nothing in this Agreement shall limit any liability which cannot legally be limited, including but not
                                limited to liability for:
                            </p>

                            <p class='MsoListParagraph  awg-line' style="margin-left: 23px;">
                                a.<span class="paragraph-Title">
                                    &nbsp; death or personal injury caused by negligence;
                                </span>
                            </p>
                            <p class='MsoListParagraph  awg-line' style="margin-left: 23px;">
                                b.<span class="paragraph-Title">
                                    &nbsp; any applicable product liability law; and
                                </span>
                            </p>
                            <p class='MsoListParagraph  awg-line' style="margin-left: 23px;">
                                c.<span class="paragraph-Title">
                                    &nbsp; fraud or fraudulent misrepresentation.
                                </span>
                            </p>

                            <p class='paragraph-style' style="margin-left: 23px;">
                                To the extent permitted by law, neither Party shall in any circumstances (including for negligence
                                and breach of statutory duty howsoever arising) be liable to the other Party for
                            </p>

                            <p class='MsoListParagraph  awg-line' style="margin-left: 23px;">
                                a.<span class="paragraph-Title">
                                    &nbsp; any loss (whether direct or indirect) of profits, business, business opportunities, revenue,
                                    turnover, reputation, anticipated savings or goodwill;
                                </span>
                            </p>
                            <p class='MsoListParagraph  awg-line' style="margin-left: 23px;">
                                b.<span class="paragraph-Title">
                                    &nbsp; any consequential damage;
                                </span>
                            </p>
                            <p class='MsoListParagraph  awg-line' style="margin-left: 23px;">
                                c.<span class="paragraph-Title">
                                    &nbsp; any loss or corruption (whether direct or indirect) of Data or any other information;
                                </span>
                            </p>
                            <p class='MsoListParagraph  awg-line' style="margin-left: 23px;">
                                d.<span class="paragraph-Title">
                                    &nbsp;any loss (whether direct or indirect) of anticipated savings or wasted expenditure (including
                                    management time, internal administration or overhead costs); or
                                </span>
                            </p>
                            <p class='MsoListParagraph  awg-line' style="margin-left: 23px;">
                                e.<span class="paragraph-Title">
                                    &nbsp;any loss or liability (whether direct or indirect) under or in relation to any other contract.
                                </span>
                            </p>



                            <p class='MsoListParagraph awg-line'>
                                <b>5.<span class="paragraph-Title">&nbsp;Independent Contractor</span></b>
                            </p>

                            <p class='paragraph-style' style="margin-left: 23px;">
                                Nothing herein shall be construed to
                                create an employer-employee relationship between SAVWIPL  and <span>@Model.ProviderShortName</span>. <span>@Model.ProviderShortName</span> is an independent Company
                                and not an employee of SAVWIPL . The consideration set forth in Clause 2 shall
                                be the sole consideration due to <span>@Model.ProviderShortName</span>.
                            </p>


                            <p class='MsoListParagraph awg-line'>
                                <b>6.<span class='paragraph-Title'>&nbsp;Notice</span></b>
                            </p>
                            <p class='paragraph-style' style="margin-left: 23px;">
                                Any notice or communication permitted or
                                required by this Agreement shall be deemed effective when received via email or
                                personally delivered or deposited, postage prepaid, in the first class mail
                                properly addressed to the appropriate party at the address set forth below:
                            </p>


                            <table class="borderless" border=0 cellspacing=0 cellpadding=0 width=592
                                   style=' width: 86%;margin-left: 2%;;border:none;margin-top:0px!important'>
                                <tr style='height:.3in'>
                                    <td width=296 valign=top style='width:222.0pt;padding:0in 5.4pt 0in 5.4pt;
    height:.3in'>
                                        <p class=NumberedList style="margin-bottom:0px !important;">
                                            a)<span>
                                                &nbsp;&nbsp;
                                            </span>Notices to SAVWIPL:
                                        </p>
                                        <p class=MsoNormal style='margin-left:25pt; margin-top: 0px !important;'>
                                            <span style="font-weight: bold;" id="NoticeSAVWIPL">@Model.NoticeSAVWIPL</span>
                                            <br><span> @Model.savwiplDesignation </span>@if (!string.IsNullOrEmpty(Model.savwiplDepartment))
                                            {<span>,</span>}<span> @Model.savwiplDepartment</span>
                                        </p>

                                    </td>
                                    <td width=296 valign=top style='width:221.95pt;padding:0in 5.4pt 0in 41.4pt;
    height:.3in'>
                                        <p class=NumberedList style="margin-left: -10px; margin-bottom: 0px !important;">
                                            b)<span>
                                                &nbsp;&nbsp;
                                            </span>Notices to <span id="ProviderShortName">@Model.ProviderShortName</span>:
                                        </p>
                                        <p class=MsoNormal style='margin-left: 19pt;  margin-top: 0px !important;'>
                                            <span style="font-weight: bold;" id="NoticeReceiver">@Model.NoticeReceiver</span><br /> @Model.otherPartyDesignation @if (!string.IsNullOrEmpty(Model.otherPartyDepartment))
                                            {<span>,</span>} @Model.otherPartyDepartment
                                        </p>
                                    </td>
                                </tr>
                                <tr style='height:.3in'>
                                    <td width=296 valign=top style='width:222.0pt;padding:0in 5.4pt 0in 5.4pt;
    height:.3in'>
                                        <p class=MsoNormal style='margin-left: 26.35pt; margin-top: 0px !important;'>
                                            <span style="font-weight: bold; line-height:20px;">
                                                SKODA AUTO Volkswagen India
                                                Private Limited
                                            </span>
                                        </p>
                                    </td>
                                    <td width=296 valign=top style='width:221.95pt;padding:0in 5.4pt 0in 24.4pt;
    height:.3in'>
                                        <p class=MsoNormal style='margin-left:37.35pt; margin-bottom: 0px; margin-top: 0px;'><span><span style="font-weight: bold;" id="Provider">@Model.Provider</span></span></p>
                                    </td>
                                </tr>
                                <tr style='height:.3in'>
                                    <td width=296 valign=top style='width:222.0pt;padding:0in 5.4pt 0in 5.4pt;
    height:.3in'>
                                        <p class=CompanyAddressSmall style="margin-left: 26.35pt; margin-top: 0px !important;">
                                            E1, MIDC Industrial Area, Phase III, Village
                                            Nigoje, Mhalunge Kharabwadi, Chakan, Tal Khed, Pune, Maharashtra - 410 501
                                        </p>

                                    </td>
                                    <td width=296 valign=top style='width:221.95pt;padding:0in 5.4pt 0in 5.4pt;
    height:.3in'>
                                        <p class=CompanyAddressSmall style='margin-left:55.35pt; margin-top:0px;'><span id="ProviderCompleteAddress">@Model.ProviderCompleteAddress</span></p>
                                    </td>
                                </tr>
                                <tr style='height:.3in'>
                                    <td width=296 valign=top style='width:222.0pt;padding:0in 5.4pt 0in 5.4pt;
  '>
                                        <p class=MsoNormal style='margin-left:24.35pt'>
                                            Email: <a style="color: rgb(0,0,238) ;" id="ProviderEmail">
                                                @Model.ProviderEmail
                                            </a>
                                        </p>
                                    </td>
                                    <td width=296 valign=top style='width:221.95pt;padding:0in 5.4pt 0in 5.4pt;
 '>
                                        <p class=MsoNormal style='margin-left: 51.5pt'>
                                            Email: <a style="color: rgb(0,0,238);" id="ReceiverEmail">
                                                @Model.ReceiverEmail
                                            </a>
                                        </p>
                                    </td>
                                </tr>
                            </table>

                            <div class="para-wrapper forLineSpacing">
                                <p class='MsoListParagraph awg-line'>
                                    <b>7.<span class="paragraph-Title">&nbsp;Miscellaneous</span></b>
                                </p>

                                <p class="MsoListParagraph pd-btm">
                                    <span>i.</span><span class="paragraph-Title2"> Entire Agreement and Amendments.</span><span style=" line-height: 17pt;">
                                        This Agreement constitutes the entire agreement of the parties with regard to the
                                        subject matter hereof, and replaces and supersedes all other agreements or
                                        understandings, whether written or oral. No amendment or extension of the
                                        Agreement shall be binding unless in writing and signed by both parties.
                                    </span>
                                </p>


                                <p class="MsoListParagraph pd-btm">
                                    <span>ii.</span><span style="font-weight: bold;" class="paragraph-Title2">Binding Effect, Assignment.</span><span class="paragraph-style" style=" line-height: 17pt;">
                                        This Agreement shall be binding upon and shall inure to the benefit of Parties and
                                        to their respective successors and assigns. Nothing in this Agreement shall be
                                        construed to permit the assignment by SAVWIPL or @Model.ProviderShortName of any of its rights
                                        or obligations hereunder, and such assignment is expressly prohibited without
                                        the prior written consent of SAVWIPL or @Model.ProviderShortName as the case may be.
                                    </span>
                                </p>

                                <p class="MsoListParagraph pd-btm">
                                    <span>iii.</span><span class="paragraph-Title2 pd-29">Governing Law, Severability.</span><span class="paragraph-style" style=" line-height: 17pt;">
                                        This Agreement shall be governed by the laws of India. The invalidity or
                                        unenforceability of any provision of the Agreement shall not affect the
                                        validity or enforceability of any other provision.
                                    </span>
                                </p>

                                <p class="MsoListParagraph pd-btm">
                                    <span>iv.</span><span class="paragraph-Title2 pd-29">Confidentiality.</span><span class="paragraph-style" style=" line-height: 17pt;">Each Party shall maintain as confidential, all information disclosed under this Agreement.</span><span style=" line-height: 17pt;">
                                        The receiving Party recognizes that
                                        improper use of the Information disclosed hereunder shall cause irreparable
                                        damage to disclosing Party and that the recovery of monetary damages may be an
                                        insufficient and inadequate remedy to disclosing Party and receiving Party agrees
                                        that disclosing Party may take any and all available legal action and shall be
                                        entitled to injunctive relief to prevent breaches of this Agreement.
                                    </span>
                                </p>

                                <p class="MsoListParagraph pd-btm">
                                    <span>v.</span><span class="paragraph-Title2 pd-29" style="font-weight: bold;"> Interest for Late Payment</span><span class="paragraph-style" style=" line-height: 17pt;">
                                        SAVWIPL shall make the payment to the _____ within 30 days from the date of receipt of invoice. In case the payment is delayed for more than 30 days as mentioned above, _____ shall be entitled to charge interest at the prevailing market rate as suggested by Group Treasury department, for each day of delay. SAVWIPL has agreed to pay for interest on late payment of the invoices raised on it.
                                    </span>
                                </p>
                            </div>
                            <p class=MsoNormal>&nbsp;</p>

                            <div class="miscelleneous-section wrappper-table">

                                <div class=MsoNormal>
                                    @if (!string.IsNullOrEmpty(Model.MiscelleneousClauses))
                                    {
                                        <div><span class="paragraph-Title" style="font-weight: bold;">Additional Miscellaneous Clauses</span></div>

                                        <div style='font:Arial;'>
                                            <div id="MiscelleneousClauses">@Html.Raw(@Model.MiscelleneousClauses)</div>
                                        </div>
                                    }
                                </div>

                                <p class=MsoNormal>&nbsp;</p>

                                <p class=MsoNormal style='text-align:left;width: 100%; margin: 0 auto;'>
                                    WHEREFORE,
                                    the parties have executed this Agreement as of the date first written above.
                                </p>

                                <p class=MsoNormal style="width: 100%; margin: 0 auto;">
                                    <span style="font-weight: bold;">
                                        For and on behalf of SKODA AUTO Volkswagen India Private
                                        Limited
                                    </span>
                                </p>

                                <p class=MsoNormal style='text-indent:.25in'><b>&nbsp;</b></p>
                            </div>
                            <div>
                                <table class="MsoTableGrid forSignature" border=0 cellspacing=0 cellpadding=0
                                       style='border-collapse:collapse;border:none ;width: 100%;'>
                                    <tr>
                                        <td width=180 valign=top style='width:134.75pt;border:none;border-bottom:
    solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
                                            <p class=MsoNormal style="margin-top: 66pt; margin-bottom: 20px;"><span class=DLVBold>[Cost Center HOD]</span></p>
                                        </td>
                                        <td width=24 valign=top style='width: 17.85pt; padding: 0in 5.4pt 0in 5.4pt; border: none;'>
                                            <p class=MsoNormal style="margin-top: 66pt;"><span class=DLVBold></span></p>
                                        </td>
                                        <td width=180 valign=top style='width:135.15pt;border:none;border-bottom:
    solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
                                            <p class=MsoNormal style="margin-top: 66pt; margin-bottom: 20px;"><span class=DLVBold>[Controlling Approver]</span></p>
                                        </td>
                                        <td width=24 valign=top style='width: 18.1pt; padding: 0in 5.4pt 0in 5.4pt; border: none;'>
                                            <p class=MsoNormal><span class=DLVBold>&nbsp;</span></p>
                                        </td>
                                        <td width=204 valign=top style='width:152.9pt;border:none;  padding: 0in 5.4pt 0in 5.4pt; border-bottom:solid windowtext 1.5pt;
    padding:0in 5.4pt 0in 5.4pt'>
                                            <p class=MsoNormal style="margin-top: 66pt; margin-bottom: 20px; "><span class=DLVBold>[CFO Approver]</span></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width=180 valign=top style='width:134.75pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                                            <p class=MsoNormal style="margin-top:20px;"><span class=DLVBold>@(Model.costCenterHOD?.Name)</span></p>
                                        </td>
                                        <td width=24 valign=top style='width: 17.85pt; padding: 0in 5.4pt 0in 5.4pt; border: none;'>
                                            <p class=MsoNormal><span class=DLVBold>&nbsp;</span></p>
                                        </td>
                                        <td width=180 valign=top style='width: 135.15pt;margin-bottom:20px; border: none; padding: 0in 5.4pt 0in 5.4pt; border: none;'>
                                            <p class=MsoNormal style="margin-top:20px;"><span class=DLVBold>@(Model.customsApprover?.Name)</span></p>
                                        </td>
                                        <td width=24 valign=top style='width: 18.1pt; padding: 0in 5.4pt 0in 5.4pt; border: none;'>
                                            <p class=MsoNormal><span class=DLVBold>&nbsp;</span></p>
                                        </td>
                                        <td width=204 valign=top style='width: 152.9pt; border: none; margin-bottom: 20px; padding: 0in 5.4pt 0in 5.4pt;'>
                                            <p class=MsoNormal style="margin-top:20px;"><span class=DLVBold>@(Model.cfoApproval?.Name)</span></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width=180 valign=top style='width: 134.75pt; padding: 0in 5.4pt 0in 5.4pt; border: none;'>
                                            <p class=MsoNormal align=center style='text-align:center; margin-top:15px;'>
                                                <span class=DLVBold>@(Model.costCenterHOD?.Designation)</span>
                                            </p>
                                        </td>
                                        <td width=24 valign=top style='width: 17.85pt; padding: 0in 5.4pt 0in 5.4pt margin-top:15px; ; border: none;'>
                                            <p class=MsoNormal><span class=DLVBold>&nbsp;</span></p>
                                        </td>
                                        <td width=180 valign=top style='width: 135.15pt; padding: 0in 5.4pt 0in 5.4pt; border: none;'>
                                            <p class=MsoNormal align=center style='text-align:center; margin-top:15pv;'>
                                                <span class=DLVBold>@(Model.controllingAprrrover?.Designation)</span>
                                            </p>
                                        </td>
                                        <td width=24 valign=top style='width: 18.1pt; padding: 0in 5.4pt 0in 5.4pt; border: none; margin-top:15px'>
                                            <p class=MsoNormal><span class=DLVBold>&nbsp;</span></p>
                                        </td>
                                        <td width=204 valign=top style='width: 152.9pt; padding: 0in 5.4pt 0in 5.4pt; border:none;'>
                                            <p class=MsoNormal align=center style='text-align:center'>
                                                <span class=DLVBold>@(Model.cfoApproval?.Designation)</span>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <p class=MsoNormal style='text-indent:.25in'><b>&nbsp;</b></p>

                            <p class=MsoNormal style='text-indent:.25in'><b>&nbsp;</b></p>

                            <p class=MsoNormal style="font-weight: bold;">For and on behalf of  @Model.Provider</p>
                            <div>
                                <table class="MsoTableGrid forSignature" border=0 cellspacing=0 cellpadding=0
                                       style='border-collapse:collapse;border:none ;width: 100%;'>
                                    <tr>
                                        <td width=180 valign=top style='width:134.75pt;border:none;border-bottom:
solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
                                            
                                            <p class=MsoNormal style="margin-top: 66pt;"><span class=DLVBold></span></p>

                                        </td>
                                        <td width=24 valign=top style='width: 17.85pt; padding: 0in 5.4pt 0in 5.4pt; border: none;'>
                                            <p class=MsoNormal><span class=DLVBold></span></p>
                                        </td>
                                        <td width=180 valign=top style='width:135.15pt;border:none;border-bottom:
solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'>
                                           
                                            <p class=MsoNormal style="margin-top: 66pt;"><span class=DLVBold></span></p>

                                        </td>
                                        <td width=24 valign=top style='width: 18.1pt; padding: 0in 5.4pt 0in 5.4pt; border: none;'>
                                            <p class=MsoNormal><span class=DLVBold>&nbsp;</span></p>
                                        </td>
                                        <td width=204 valign=top style='width:152.9pt;border:none;
padding:0in 5.4pt 0in 5.4pt'>
                                            <p class=MsoNormal><span class=DLVBold>&nbsp;</span></p>
                                        </td>
                                    </tr>
                                    <!-- second row signature -->
                                    <tr>
                                        <td width=180 valign=top style='width:134.75pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                                            <p class=MsoNormal style="margin-top:5pt; "><span class=DLVBold>@Model.secondPartySignature01</span></p>
                                            <p>
                                                @Model.signatoryDesignation01 @if (!string.IsNullOrEmpty(Model.signatoryDepartment01))
                                                {<span>,</span>} @Model.signatoryDepartment01


                                            </p>
                                        </td>
                                        <td width=24 valign=top style='width: 17.85pt; padding: 0in 5.4pt 0in 5.4pt; border: none;'>
                                            <p class=MsoNormal><span class=DLVBold></span></p>
                                        </td>
                                        <td width=180 valign=top style='width:135.15pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                                            <p class=MsoNormal style="margin-top:5pt;"><span class=DLVBold>@Model.secondPartySignature02</span></p>
                                            <p>
                                                @Model.signatoryDesignation02@if (!string.IsNullOrEmpty(Model.signatoryDepartment02))
                                                {<span>,</span>} @Model.signatoryDepartment02
                                            </p>
                                        </td>
                                        <td width=24 valign=top style='width: 18.1pt; padding: 0in 5.4pt 0in 5.4pt; border: none;'>
                                            <p class=MsoNormal><span class=DLVBold>&nbsp;</span></p>
                                        </td>
                                        <td width=204 valign=top style='width:152.9pt;border:none;
padding:0in 5.4pt 0in 5.4pt'>
                                            <p class=MsoNormal><span class=DLVBold>&nbsp;</span></p>
                                        </td>
                                    </tr>
                                    <!-- second signature tr END  -->
                                </table>

                            </div>
                            <p style="page-break-before: always!important;"> &nbsp;</p>

                            <div style=" width: 96.5%;margin: 0 auto;">
                                <p class="MsoNormal" align=center style='margin-left:.25in; margin: 0 auto;
  text-align:center;margin-bottom: 12pt!important;'><span style="font-weight: bold;">ANNEXURE A</span></p>
                                <div class="wrappper-table">
                                    <p class="MsoNormal"><div class="MsoPlaceholderText forAnexureTbl">@Html.Raw(@Model.ConsiderationText)</div></p>
                                </div>
                            </div>
                        </div><!--end of border div-->

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

